{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4 border-0" style="max-width: 400px; width: 100%; border-radius: 20px; background:#faf1d9; box-shadow: 0 8px 32px 0">
        <div class="text-center mb-3">
            <div class="fw-bold" style="font-size: 2.2rem; color: black; letter-spacing: 2px; font-family: 'Amiko';">Bem vindo ao Marajoa!</div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_nome" class="form-label text-black">Usuário</label>
                <input type="text" class="form-control bg-dark text-white border-0" id="id_nome" name="nome" placeholder="Usuário" required style="border-radius: 10px;">
            </div>
            <div class="mb-3">
                <label for="id_senha" class="form-label text-black">Senha</label>
                <input type="password" class="form-control bg-dark text-white border-0" id="id_senha" name="senha" placeholder="Senha" required style="border-radius: 10px;">
            </div>
            <button type="submit" class="btn w-100 fw-bold" style="background: #00ffe7; color:black; border-radius: 10px;">Entrar</button>
        </form>
        <div class="text-center mt-3">
            <a href="#" class="link-warning text-decoration-none">Esqueceu a senha?</a>
        </div>
    </div>
</div>
{% endblock %}