{% extends 'base.html' %}
{% block title %}Mural da Turma{% endblock %}

{% block content %}
<div class="container py-4">
    <h2 class="mb-4 fw-bold" style="color: #1B5E20;">{{ turma.nome }}</h2>
    <div class="mb-4">
        {% if e_o_tutor %}
        <form method="post" action="#">
            {% csrf_token %}
            <a class="btn" style="background: var(--success); color: #fff;" href="{% url 'criar-evento' pk=turma.id tipo='aviso' %}">Novo Aviso</a>
            <a class="btn" style="background: var(--success); color: #fff;" href="{% url 'criar-evento' pk=turma.id tipo='aula' %}">Nova Aula</a>
            <a class="btn" style="background: var(--success); color: #fff;" href="{% url 'criar-evento' pk=turma.id tipo='atividade' %}">Nova Atividade</a>
        </form>
        {% endif %}
    </div>
    <hr>
    <div class="mural-list">
        {% for evento in eventos %}
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <h5 class="title">{{ evento.titulo }}</h5>
                </div>
                <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
                <p class="mb-0">{{ evento.descricao }}</p>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-info text-center">Nenhum evento publicado ainda.</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
